<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<p-dataView #dv [value]="postIds" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="text" [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>Top Stories </p-header>
  <ng-template let-postId pTemplate="listItem">
    <div class="ui-g" style="padding: 0.5em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="pi pi-search" (click)="selectPost($event, postId)"></button>
      </div>
      <app-post-item postId="{{postId}}"></app-post-item>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="pi pi-search" (click)="selectPost($event, postId)"></button>
      </div>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="Post Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '900px'}"  (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedPost">

    <div class="ui-g-4">Title: </div>
    <div class="ui-g-8">{{selectedPost.title}}</div>

    <div class="ui-g-4">Url: </div>
    <div class="ui-g-8">
      <a href="{{selectedPost.url}}" target="_blank" class="title">
        {{selectedPost.url}}
      </a>
    </div>

    <div class="ui-g-4">Type: </div>
    <div class="ui-g-8">
      <p>{{selectedPost.type}}</p>
    </div>

    <div class="ui-g-4">Score: </div>
    <div class="ui-g-8">
      <p>{{selectedPost.score}}</p>
    </div>

    <div class="ui-g-4">By: </div>
    <div class="ui-g-8">{{selectedPost.by}}</div>
  </div>
</p-dialog>
